.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 82vh;
    position: relative;

    .header {

        .info {
            margin-left: 20px;
            display: flex;
            align-items: center;
            position: absolute;
            top: 130px;
            width: 95%;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }

            .username {
                margin-left: 20px;

                p {
                    margin-top: 5px;
                    color: gray;
                }
            }

            .changePass {
                margin-left: auto;
            }
        }

        .wallpaper {
            background-image: url("https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/481053605_1033122085510986_6103680854640549115_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=4kulmoBjLBgQ7kNvwEePL9x&_nc_oc=Adk3DqPp1njm0-Fauj-r1FrLDQEKsPK0WvBWr-CdbKse_W71ctGaeBr-TJK5zgyNBjM&_nc_zt=23&_nc_ht=scontent.fhan2-4.fna&_nc_gid=kKIA7MuqzcUe6bJbxBmFJA&oh=00_AfNtj8XI6Ikt49ZNkThCrd5FZc-5XqiqmWqBO89Ul_3DJg&oe=686C039E");
            background-size: cover;
            object-fit: contain;
            height: 150px;
        }
    }

    .content {
        margin-top: 110px;
    }

}