.container {
    height: 100%;
}

.contents {
    padding-left: 280px;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}